* {
  box-sizing: border-box;
}


html {
  background-color: lightslategrey;
  font-family: 'Roboto';
  font-size: 35px;
  text-align: center;
}

body {
  width: 90%;
  display: flex;
  flex-direction: column;
}

#numberSelection, 
#arithmetic {
  font-size: 1.0rem;
}

#mainContainer {
 border: 2px solid rgba(255, 255, 255, 0.24);
  border-left: none;
  border-top: none;
  width: 25%;
  height: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgba(106, 126, 126, 0.226);
  box-shadow: 2px 3px 25px 0
            rgba(0, 0, 0, .25);          
  box-shadow: -1px  0px 5px rgba(0, 0, 0, 0.432);           
}

#output, 
#displayEntry {
  border-bottom: 1px solid rgba(255, 255, 255, 0.356);
  width: 100%;
}

#container2 {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
  height: 350px;
}

#output {
  font-size: 1.5rem;
  height: 100%;
  text-align: right;
 
  margin-bottom: 17px;
  margin: 0;
  overflow: hidden;
}

#output {
  height: 60px;
  margin-right: 5px;
}

#displayEntry {
  height: 45px;
  padding-top: 2px;

}


#displayEntry>h3 {
  font-size: .8rem;
  height: 100%;
  text-align: right;
  padding-right: 10px;
  margin: 0;
}

#numberSelection {
  display: flex;
  width: 70%;
  height: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 10px;
  align-content: center;
  justify-content: space-between;
 
}

.numpadRow {
  display: flex;
  height: 23%;
  width: 100%;
  justify-content: space-between;
}

.key{
  height: 80px;
  width: 30%;
  border: 2px solid rgba(255, 255, 255, 0.24);
  border-left: none;
  border-top: none;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  font-weight: 700;
  background-color: rgba(75, 144, 207, 0.253);
  box-shadow: -1px  0px 2px rgba(0, 0, 0, 0.432);
}

.key.zero {
  height: 80px;
  width: 65%;
  border: 2px solid rgba(255, 255, 255, 0.24);
  border-left: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgba(75, 144, 207, 0.253);
  box-shadow: -1px  0px 2px rgba(0, 0, 0, 0.432);
}

.key:hover,
.key.op:hover,
.key.zero:hover {
  cursor: pointer;
}

.key:active,
.key.op:active,
.key.zero:active {
  box-shadow: inset 0 0 3px black;
  border: 1px solid black;
}

#arithmeticSec {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.operatorCol {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.key.op {
  height: 52.7px;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.24);
  border-left: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
  background-color: rgba(247, 250, 207, 0.24);
  box-shadow: -1px  0px 2px rgba(0, 0, 0, 0.432);
}

@media only screen and (max-width: 600px) {
  #mainContainer {
    width: 90%;
  }
}

