

html {
  background-color: lightslategrey;
  font-family: 'Roboto';
  font-size: 35px;
  text-align: center;
  
}
body {
  width: 90%;
  display: flex;
  flex-direction: column;
}
#numberSelection, #arithmetic {
  font-size: 1.0rem;
}

#mainContainer {
  border: 2px solid white;
  width: 25%;
  height: 80%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(105, 163, 163);
 
 
 
}

#output, #displayEntry{
  border-bottom: 1px solid lightgrey;
  width: 100%;
 
}

#container2 {
  display: flex;
  flex-direction: row;
  
}


#output>h2 {
  font-size: 1.5rem;
  height: 45px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 17px;
}
#displayEntry>h3 {
  font-size: .8rem;
  height: 10px;
  text-align: right;
  padding-right: 10px;
}
#numberSelection {
  display: flex;
  width: 70%;
  height: 25%;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
 
}

.numpadRow {
  display: flex;
  height: 25%;
  width: 100%;
  
}

#seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #decimal{
  height: 80px;
  width: 142.5px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  font-weight: 700;
}

#zero {
  height: 80px;
  width: 289px;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
}

#arithmetic {
  width: 30%;
}

.operatorCol {
  width: 100%;
  text-align: center;

}


#clear, #division, #mult, #subtract, #addition, #equal {
  height: 52.7px;
  width: 100%;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-weight: 700;
}



@media only screen and (max-width: 600px) {
  #mainContainer {
    width: 90%;
  }
}

